<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ПоискИнструкции</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .navbar-brand {
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            width: 100%;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .results-card {
            display: flex;
            margin-top: 20px;
            border-radius: 1rem;
            padding: 20px;
        }

            .results-card .card-body {
                flex-grow: 1; /* Расширяет этот элемент, чтобы занять все доступное пространство */
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            Демонстрационный интерфейс для API получения инструкций по названию препарата
        </a>
    </nav>

    <div class="container-fluid">
        @RenderBody()

        <!-- Карточка с результатами -->
        <div class="card results-card">
            <div class="card-body">
                <div id="results">
                    <!-- Результаты будут отображаться здесь -->
                    @Html.Raw(@ViewBag.Name)
                </div>
            </div>
        </div>
    </div>

    <footer class="footer border-top text-muted">
        <div class="container text-center">
            &copy; 2024 - Андрей Рыбаков -
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
